body {
  background: rgba(128, 128, 128, 0.568);
}
header {
  display: flex;
  justify-content: center;
  background: #ff6666;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
  
}
#album-reviewer-logo img {
  position: relative;
  height: 8rem;
  width: auto;
}

#grid {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 3fr
}

.card img {
  height: 20rem;
  width: auto;
  align-items: center;

}
.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
} */

#artist-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
} 

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #e04b52;
  opacity: .8;
}

.add-artist-form {
  width: 80%
}